<!DOCTYPE html>
<html>
<head>
	<title>Anne-Isabelle</title>
	<meta charset="utf-8">
</head>
<body>
	<h1>La vie est belle</h1>
	<ul>
		<%for(var i=0; i<animal.length; i++){%>
			<li><%= animal[i]%></li>
		<%}%>
		
	</ul>
</body>
</html>